#addProductButton {
    position: absolute;
    bottom: 15px;
    background-color: #4e73df;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
  }

  

#popup img {
    max-width: 50%;
    max-height: 20vh; /* Limiter la hauteur de l'image */
}