<<<<<<< Updated upstream
/* Style pour le popup */
.popup {
    display: none; /* Initialement caché */
    position: fixed; /* Position fixe pour couvrir tout l'écran */
    top: 70%;
    left: 70%;
    border: 1px solid #ccc;
    background-color: #dc3545;
    /* couleur du texte*/
    color: #fff;
    padding: 20px;
    z-index: 9999; /* Pour le placer au-dessus de tout le reste */
    animation: fadeOut 5s forwards; /* Animation de fondu */
    border-radius: 20px;
  }
  
  /* Style pour le bouton de fermeture */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Animation de fondu */
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
=======

    .addbtn {
        background-color: #4e73df;
        color: white;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .addbtn {
        /* Ajoutez une transition pour rendre l'animation plus fluide */
        transition: transform 0.3s ease;
      }
      
      .addbtn:hover {
        /* Utilisez une animation au lieu d'une transformation directe */
        animation: scaleUpDown 1s infinite;
      }
      
      /* Définissez l'animation */
      @keyframes scaleUpDown {
        0%, 100% {
          transform: scale(1); /* Commencez et terminez à la taille normale */
        }
        50% {
          transform: scale(1.1); /* À mi-chemin de l'animation, grossissez l'élément */
        }
      }
>>>>>>> Stashed changes
