/* Style pour le popup */
.popup {
    display: none; /* Initialement caché */
    position: fixed; /* Position fixe pour couvrir tout l'écran */
    top: 70%;
    left: 70%;
    border: 1px solid #ccc;
    background-color: #dc3545;
    /* couleur du texte*/
    color: #fff;
    padding: 20px;
    z-index: 9999; /* Pour le placer au-dessus de tout le reste */
    animation: fadeOut 5s forwards; /* Animation de fondu */
    border-radius: 20px;
  }
  
  /* Style pour le bouton de fermeture */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Animation de fondu */
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  